
@import 'variables';


/* Wordpress Elements */
// Single Image
//.wpb_content_element
.wpb_single_image,
.wpb_video_widget {
  margin-bottom: 0 !important;
}


// separator with gradient
%separator {
  background: linear-gradient( to right, $gradient-pink, $gradient-turquoise);
  box-shadow: 0px 0px 7px $gradient-violet;
  border-top: none !important;
}
.vc_separator {
  margin: 10px 0 12px !important;
  width: auto !important;
  @media (min-width:$small){
    margin: 20px 0 25px !important;
  }
}
.vc_sep_line {
  @extend %separator;
}




// // carousel
.kraft-carousel .owl-nav {
  bottom: 10px;
  top: auto;
  transform: none;
  width: auto;
  right: 10px;

  .owl-prev,
  .owl-next {
    background: $black;
    color: $white;
  }
  .owl-prev {
    margin-right: 1px;
  }
}


// Button
.vc_btn3-container {
  margin: 10px 0 0 !important;
}

.vc_btn3:hover {
  border-color: $pink !important;
  color: $white !important;
  background-color: transparent !important;
}



// Vimeo Video Container
.project-single .wpb_video_widget.vc_video-aspect-ratio-169 .wpb_video_wrapper {
  padding-top: 50.25% ;
}