
@import 'variables';
// @import 'grid';

footer#footer {
  background-color: transparent;
  padding: 0 0 40px !important;
}

.copyrights {
  margin: 0 auto;
  padding: 15px 20px !important;
  border-top: thin solid $border-color !important;
  border-bottom: thin solid $border-color;

  p {
    max-width: 720px;
    margin: 0 auto;
  }
}



.footer-socials {
  margin: 5px 0 !important;
  display: inline-block;
  background: $lightest-grey;
  padding: 0 20px;

  a { background-color: transparent !important; }
  i { font-size: 22px !important; }
}

#footer .vc_sep_line {
  display: block;
  height: 1px;
  margin-top: -20px;
}
