
@import 'variables';

// lock scrolling when mobile nav is open
html.locked,
html.locked body {
  @media (max-width:$small){
    margin: 0;
    height: 100%;
    overflow: hidden;
  }
}

// center & overflow fix
div#main-wrapper.vc_container {
  padding-left: 0;
  padding-right: 0;
}
.project-single > .vc_container {
  @media (min-width:$small){
    padding-left: 0;
  }
}

// Padding Container with white background
.padding-container > div > div > div {
  padding: $spacing;
  background: $white;
  box-shadow: 0px 0px 15px $box-shadow;
}

// Padding Container with two columns (directors page)
.padding-container.two-column {
  .wpb_single_image{
    @media (min-width:$medium){
      max-width: 50%;
      float: right;
      margin-left: 20px;
    }
  }
}

// min-height for directors page
.padding-container.two-column > div > div > div {
  @media (min-width: $medium){
    min-height: 340px;
  }
  @media (min-width: $large){
    min-height: 406px;
  }
}

// Portfolio Detail Padding Container
.project-single {
  .vc_col-sm-12 {
    & > .vc_container {
      margin-bottom: 20px;
    }
  }

  #portfolio-container {
    margin-top: 0 !important;
  }

  .project-nav {
    margin-top: 0;
    padding: $spacing;
    background: $white;
    box-shadow: 0px 0px 15px $box-shadow;
  }

  // menu bottom (prev / next)
  > .vc_container > .vc_row > .vc_col-sm-12 {
    @media (min-width:$small){
      padding-right: 0;
    }
  }
}


// margin bottom of vc_container
#main-wrapper > .vc_container {
  margin-bottom: $spacing;
}

// testimonial title wrapper
.no-margin {
  margin-top: -6px;
  margin-bottom: -8px;
}
