
@import 'variables';

// lock scrolling when mobile nav is open
html.locked,
html.locked body {
  @media (max-width:$small){
    margin: 0;
    height: 100%;
    overflow: hidden;
  }
}

// width container
.vc_container {
  @media (min-width: $small){
    width: 90vw;
    max-width: 970px;
  }
}

// center & overflow fix
div#main-wrapper.vc_container {
  padding-left: 0;
  padding-right: 0;
}
.project-single > .vc_container {
  @media (min-width:$small){
    padding-left: 0;
  }
}

// Padding Container with white background
.padding-container > div > div > div {
  padding: 10px;
  background: $white;
  box-shadow: 0px 0px 15px $box-shadow;

  @media (min-width: $small){
    padding: $spacing;
  }
}

// Padding Container with two columns (directors page)
.padding-container.two-column {
  .wpb_single_image{
    @media (min-width:$medium){
      max-width: 50%;
      float: right;
      margin-left: 20px;
    }
  }
}

// min-height for directors page
.padding-container.two-column > div > div > div {
  @media (min-width: $medium){
    min-height: 340px;
  }
}

// Portfolio Detail Padding Container
.project-single {
  .vc_col-sm-12 {
    & > .vc_container {
      margin-bottom: $spacing;
    }
  }

  #portfolio-container {
    margin-top: 0 !important;
  }

  .project-nav {
    margin-top: 0;
    padding: $spacing;
    background: $white;
    box-shadow: 0px 0px 15px $box-shadow;
    margin-bottom: $spacing;

    a:hover {
      border-bottom: 1px solid $pink;
    }
  }

  // menu bottom (prev / next)
  > .vc_container > .vc_row > .vc_col-sm-12 {
    @media (min-width:$small){
      padding-right: 0;
    }
  }
}

// Portfolio Overview Filters
.padding-container.portfolio-filtered {
  margin-top: 80px;

  @media(min-width: 604px){
    margin-top: 70px;
  }
}


// Portfolio Filters
#filters-container {
  position: absolute;
  top: -60px;
  width: 100%;
  left: 0;

  @media(min-width: 604px){
    top: -44px;
  }

  .cbp-filter-item-active {
    color: $pink;
  }
  .cbp-filter-item {
    @extend %headline-medium;
    font-size: 15px;
  }
}


// margin bottom of vc_container
#main-wrapper > .vc_container {
  margin-bottom: $spacing;
}

// margin padding container two column
.padding-container .vc_col-sm-6:first-child{
  @media(max-width: $small){
    margin-bottom: $spacing;
  }
}

// testimonial title wrapper
.no-margin {
  margin-top: -6px;
  margin-bottom: -8px;
}

// margin text-blocks main-content
#main-wrapper .wpb_text_column.wpb_text_column {
  margin-bottom: 5px;
}