
@import 'variables';


header#header {
  background-color: transparent;
  margin: 0px !important;

  @media (min-width: $small){
    margin: 60px 0 20px !important;
  }
}

#logo {
  @media (max-width: $small){
    padding-top: 15px !important;
    padding-bottom: 15px !important;
  }

  @media (min-width: $small){
    margin-left: -40px;
  }
  @media (min-width: $medium){
    margin-left: -45px;
  }
  @media (min-width: $large){
    margin-left: -48px;
  }

  .standard-logo,
  .retina-logo {
    max-height: 60px !important;

    @media (min-width: $small){
      max-height: 70px !important;
    }
    @media (min-width: $medium){
      max-height: 80px !important;
    }
    @media (min-width: $large){
      max-height: 100px !important;
    }
  }
}



#main-menu {
  // @media (max-width:$small){
  //   opacity: 0;
  // }

  @media (min-width: $small){
    padding-top: 50px;
  }
}

#main-menu.display-menu {
  @media (max-width:$small){
    //opacity: 1;
    height: calc(100vh - 90px) !important;
  }
}

