
@import 'variables';


header#header {
  background-color: transparent;
  margin: 0px !important;

  @media (min-width: $small){
    margin: 40px 0 20px !important;
  }
}

#logo {
  @media (max-width: $small){
    padding-top: 15px !important;
    padding-bottom: 15px !important;
  }

  @media (min-width: $small){
    margin-left: -40px;
  }
  @media (min-width: $medium){
    margin-left: -45px;
  }
  @media (min-width: $large){
    margin-left: -48px;
  }

  .standard-logo,
  .retina-logo {
    max-height: 60px !important;

    @media (min-width: $small){
      max-height: 70px !important;
    }
    @media (min-width: $medium){
      max-height: 80px !important;
    }
    @media (min-width: $large){
      max-height: 100px !important;
    }
  }
}



#main-menu {
  @media (max-width: $small){
    background-color: $white !important;
  }

  @media (min-width: $small){
    padding-top: 50px;
  }
}

#main-menu.display-menu {
  @media (max-width:$small){
    height: calc(100vh - 90px) !important;
  }
}

#header.standard .header-wrapper #main-menu > ul > li.current-menu-item > a,
#header.standard .header-wrapper #main-menu > ul > li > a:hover,
#header.standard .header-wrapper #main-menu > ul > li > a:focus {
  color: $pink !important;
}

// Dropdowns & Dropdown Arrow
#main-menu .sub-menu {
  opacity: 0;
  height: 0;
}
#main-menu > ul > li > a:after {
  display: none;
}
// #main-menu .sub-menu,
// #main-menu .sub-menu > li:hover a {
//   background-color: $white !important;
// }
// #main-menu .sub-menu {
//   @media (min-width: $small){
//     box-shadow: 0px 0px 15px $box-shadow;
//   }
// }