
@import 'variables';



// Headline
%headline {
  //font-family: $headline-font;
  text-transform: uppercase;
  color: $dark-grey-text;
  //font-size: 36px;
  line-height: 1;
}

%headline-bold {
  @extend %headline;
  font-weight: 700 !important;
}

%headline-medium {
  @extend %headline;
  font-weight: 400 !important;
}

%headline-light {
  @extend %headline;
  font-weight: 300 !important;
}

h1, h2, h3, h4, h5, h6 {
  @extend %headline-bold;
}

// Title Testimonials
.heading-custom h4.heading {
  @extend %headline-medium;
  font-size: 15px !important;
  //letter-spacing: 1px;
  line-height: 1;
}

// global paragraphs and links
#page-wrapper p,
#page-wrapper p strong {
  color: $dark-grey-text;
}

#page-wrapper .para p {
  font-size: 14px;
  line-height: 1.4;

  @media (min-width: $small){
    font-size: 15px;
  }
  @media (min-width: $medium){
    font-size: 16px;
  }
}

// links
#page-wrapper a{
  color: $dark-grey-text !important;

  &:hover {
    color: $pink !important;
  }
}

// text links
#page-wrapper .wpb_text_column a {
  color: $pink !important;
  &:hover {
    text-decoration: underline;
  }
}


// Element Titles -> Bold + Light
.heading-custom {

  //margin: 5px 0 10px;
  margin: 10px 0 0;

  // @media(min-width:$small){
  //   margin: 10px 0 20px;
  // }

  .heading,
  .para {
    margin: 0;
    display: inline;
    //font-size: 32px;
    font-size: 24px;
  
    @media(min-width: $small){
      //font-size: 36px;
      font-size: 32px;
    }
    @media(min-width: $medium){
      font-size: 42px;
    }
    @media(min-width: $large){
      font-size: 46px;
    }
  }

  .heading {
    @extend %headline-bold;
  }

  .para {
    @extend %headline-light;

    &::before {
      content: "//";
      margin: 0 7px 0 3px;
    }
  }
}

// Main Navigation
#menu-main-menu {
  & > li {
    @media (min-width: $small){
      margin-left: 20px !important;
    }
  }
  li.current-menu-item > a,
  li.current-menu-parent > a {
    color: $pink !important;
  }
  a {
    @extend %headline-medium;
    font-size: 16px !important;
    letter-spacing: 0 !important;
  }
}

// Portfolio Items
#portfolio-container {
  .cbp-l-grid-agency-title {
    @extend %headline-bold;
    font-size: 16px;
    color: $dark-grey-text !important;
  }
  .cbp-l-grid-agency-desc {
    margin-top: 4px;
    color: $dark-grey-text !important;
  }
}

.project-single {
  .project-title {
    display: none;
  }
  .details-top {
    margin-top: 0;
  }
}


// Footer Text
.copyrights p {
  @extend %headline-medium;
  font-size: 12px !important;
  //letter-spacing: 1px;
  letter-spacing: 0 !important; 
  line-height: 1.5;

  @media(min-width: $small){
    font-size: 14px !important;
  }
}