/* Breakpoints */
//$extra-small: 480px;
$small: 768px;
$medium: 992px;
$large: 1200px;

/* Container Width */
//$narrow-container: 1010px;

/* Spacing */
$spacing: 20px;

/* Colors */
$white: #fff;
$black: #222;
$dark-grey-logo: #444;
$dark-grey-text: #595959;
$dark-grey-nav: #757575;
$border-color: #bbb;
$box-shadow: #DDD;
$lightest-grey: #EFEEEF;
$pink: #FC1368;

/* Gradient */
$gradient-pink: #F680AE;
$gradient-violet: #BEAFC5;
$gradient-turquoise: #76F4E4;

/* Typography */
$headline-font: 'Roboto Condensed', sans-serif; 