/*
 Theme Name:   Kraft Child
 Theme URI:    http://demo.caliberthemes.com/wpthemes/kraft
 Description:  Kraft Child Theme
 Author:       caliberthemes
 Author URI:   http://www.caliberthemes.com/
 Template:     kraft
 Version:      1.0
 License:      custom
 License URI:  http://themeforest.net/licenses
 Tags: right-sidebar, featured-images, post-formats,  sticky-post
 Text Domain:  kraft
*/
/* Breakpoints */
/* Container Width */
/* Spacing */
/* Colors */
/* Gradient */
/* Typography */
h1, h2, h3, h4, h5, h6, .heading-custom .heading, #portfolio-container .cbp-l-grid-agency-title, .heading-custom h4.heading, #menu-main-menu a, .copyrights p, #filters-container .cbp-filter-item, .heading-custom .para {
  text-transform: uppercase;
  color: #595959;
  line-height: 1;
}

h1, h2, h3, h4, h5, h6, .heading-custom .heading, #portfolio-container .cbp-l-grid-agency-title {
  font-weight: 700 !important;
}

.heading-custom h4.heading, #menu-main-menu a, .copyrights p, #filters-container .cbp-filter-item {
  font-weight: 400 !important;
}

.heading-custom .para {
  font-weight: 300 !important;
}

.heading-custom h4.heading {
  font-size: 15px !important;
  line-height: 1;
}

#page-wrapper p,
#page-wrapper p strong {
  color: #595959;
}

#page-wrapper .para p {
  font-size: 14px;
  line-height: 1.2;
}
@media (min-width: 768px) {
  #page-wrapper .para p {
    font-size: 12px;
  }
}
@media (min-width: 992px) {
  #page-wrapper .para p {
    font-size: 14px;
  }
}

#page-wrapper .wpb_text_column a {
  color: #595959;
  font-size: inherit;
  font-weight: inherit;
}
#page-wrapper .wpb_text_column a:hover, #page-wrapper .wpb_text_column a:active, #page-wrapper .wpb_text_column a:focus {
  color: #FC1368;
}

.heading-custom {
  margin: 0;
}
.heading-custom .heading,
.heading-custom .para {
  margin: 0;
  display: inline;
  font-size: 24px;
}
@media (min-width: 768px) {
  .heading-custom .heading,
  .heading-custom .para {
    font-size: 24px;
  }
}
@media (min-width: 992px) {
  .heading-custom .heading,
  .heading-custom .para {
    font-size: 32px;
  }
}
@media (min-width: 1200px) {
  .heading-custom .heading,
  .heading-custom .para {
    font-size: 34px;
  }
}
.heading-custom .para::before {
  content: "//";
  margin: 0 7px 0 3px;
}

@media (min-width: 768px) {
  #menu-main-menu > li {
    margin-left: 20px !important;
  }
}
#menu-main-menu li.current-menu-item > a,
#menu-main-menu li.current-menu-parent > a {
  color: #FC1368 !important;
}
#menu-main-menu a {
  font-size: 16px !important;
  letter-spacing: 0 !important;
}

#portfolio-container .cbp-l-grid-agency-title {
  font-size: 16px;
  color: #595959 !important;
}
#portfolio-container .cbp-l-grid-agency-desc {
  margin-top: 4px;
  color: #595959 !important;
}

.project-single .project-title {
  display: none;
}
.project-single .details-top {
  margin-top: 0;
}

.copyrights p {
  font-size: 12px !important;
  letter-spacing: 0 !important;
  line-height: 1.5;
}
@media (min-width: 768px) {
  .copyrights p {
    font-size: 14px !important;
  }
}

@media (max-width: 768px) {
  html.locked,
  html.locked body {
    margin: 0;
    height: 100%;
    overflow: hidden;
  }
}

@media (min-width: 768px) {
  .vc_container {
    width: 90vw;
    max-width: 970px;
  }
}

div#main-wrapper.vc_container {
  padding-left: 0;
  padding-right: 0;
}

@media (min-width: 768px) {
  .project-single > .vc_container {
    padding-left: 0;
  }
}

.padding-container > div > div > div {
  padding: 10px;
  background: #fff;
  box-shadow: 0px 0px 15px #DDD;
}
@media (min-width: 768px) {
  .padding-container > div > div > div {
    padding: 20px;
  }
}

@media (min-width: 992px) {
  .padding-container.two-column .wpb_single_image {
    max-width: 50%;
    float: right;
    margin-left: 20px;
  }
}

@media (min-width: 992px) {
  .padding-container.two-column > div > div > div {
    min-height: 340px;
  }
}

.project-single .vc_col-sm-12 > .vc_container {
  margin-bottom: 20px;
}
.project-single #portfolio-container {
  margin-top: 0 !important;
}
.project-single .project-nav {
  margin-top: 0;
  padding: 20px;
  background: #fff;
  box-shadow: 0px 0px 15px #DDD;
  margin-bottom: 20px;
}
@media (max-width: 380px) {
  .project-single .project-nav .page-prev,
  .project-single .project-nav .page-main,
  .project-single .project-nav .page-next {
    display: block;
    width: 100%;
    float: none;
  }
}
.project-single .project-nav .page-prev.btn-disable,
.project-single .project-nav .page-main.btn-disable,
.project-single .project-nav .page-next.btn-disable {
  opacity: 0;
  height: 0;
  width: 100px;
}
.project-single .project-nav .page-prev a,
.project-single .project-nav .page-main a,
.project-single .project-nav .page-next a {
  font-size: 0;
  border: none;
}
.project-single .project-nav .page-prev a:after,
.project-single .project-nav .page-main a:after,
.project-single .project-nav .page-next a:after {
  content: "";
  height: 20px;
  display: inline-block;
}
.project-single .project-nav .page-prev a:after {
  background: url("assets/portfolio-prev.png") center center no-repeat;
  width: 109px;
}
.project-single .project-nav .page-main a:after {
  background: url("assets/portfolio-gallery.png") center center no-repeat;
  width: 105px;
}
.project-single .project-nav .page-next a:after {
  background: url("assets/portfolio-next.png") center center no-repeat;
  width: 71px;
}
@media (min-width: 768px) {
  .project-single > .vc_container > .vc_row > .vc_col-sm-12 {
    padding-right: 0;
  }
}

#portfolio-container .cbp-l-grid-agency-title {
  margin-top: 10px;
}
#portfolio-container .cbp-l-grid-agency-desc {
  margin-top: 2px;
}
@media (min-width: 530px) and (max-width: 768px) {
  #portfolio-container .cbp-item {
    width: 50% !important;
  }
}

.padding-container.portfolio-filtered {
  margin-top: 80px;
}
@media (min-width: 604px) {
  .padding-container.portfolio-filtered {
    margin-top: 70px;
  }
}

#filters-container {
  position: absolute;
  top: -60px;
  width: 100%;
  left: 0;
}
@media (min-width: 604px) {
  #filters-container {
    top: -44px;
  }
}
#filters-container .cbp-filter-item-active {
  color: #FC1368;
}
#filters-container .cbp-filter-item {
  font-size: 15px;
  letter-spacing: 0;
}

#main-wrapper > .vc_container {
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .padding-container .vc_col-sm-6:first-child {
    margin-bottom: 20px;
  }
}

.no-margin {
  margin-top: -6px;
  margin-bottom: -8px;
}

#main-wrapper .wpb_text_column.wpb_text_column {
  margin-bottom: 5px;
}

/* Wordpress Elements */
.wpb_single_image,
.wpb_video_widget,
.wpb_raw_code.wpb_content_element.wpb_raw_html {
  margin-bottom: 0 !important;
}

.vc_sep_line {
  background: linear-gradient(to right, #F680AE, #76F4E4);
  box-shadow: 0px 0px 7px #BEAFC5;
  border-top: none !important;
}

.vc_separator {
  margin: 10px 0 12px !important;
  width: auto !important;
}

.kraft-carousel .owl-nav {
  bottom: 10px;
  top: auto;
  transform: none;
  width: auto;
  right: 10px;
}
.kraft-carousel .owl-nav .owl-prev,
.kraft-carousel .owl-nav .owl-next {
  background: #222;
  color: #fff;
}
.kraft-carousel .owl-nav .owl-prev {
  margin-right: 1px;
}

.vc_btn3-container {
  margin: 10px 0 0 !important;
}

.vc_btn3:hover {
  border-color: #FC1368 !important;
  color: #fff !important;
  background-color: transparent !important;
}

.wpb_video_widget.vc_video-aspect-ratio-43 .wpb_video_wrapper {
  padding-top: 50.25% !important;
}

header#header {
  background-color: transparent;
  margin: 0px !important;
}
@media (min-width: 768px) {
  header#header {
    margin: 40px 0 20px !important;
  }
}

@media (max-width: 768px) {
  #logo {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
  }
}
@media (min-width: 768px) {
  #logo {
    margin-left: -40px;
  }
}
@media (min-width: 992px) {
  #logo {
    margin-left: -45px;
  }
}
@media (min-width: 1200px) {
  #logo {
    margin-left: -48px;
  }
}
#logo .standard-logo,
#logo .retina-logo {
  max-height: 60px !important;
}
@media (min-width: 768px) {
  #logo .standard-logo,
  #logo .retina-logo {
    max-height: 70px !important;
  }
}
@media (min-width: 992px) {
  #logo .standard-logo,
  #logo .retina-logo {
    max-height: 80px !important;
  }
}
@media (min-width: 1200px) {
  #logo .standard-logo,
  #logo .retina-logo {
    max-height: 100px !important;
  }
}

@media (max-width: 768px) {
  #main-menu {
    background-color: #fff !important;
  }
}
@media (min-width: 768px) {
  #main-menu {
    padding-top: 50px;
  }
}

@media (max-width: 768px) {
  #main-menu.display-menu {
    height: calc(100vh - 90px) !important;
  }
}

#header.standard .header-wrapper #main-menu > ul > li.current-menu-item > a,
#header.standard .header-wrapper #main-menu > ul > li > a:hover,
#header.standard .header-wrapper #main-menu > ul > li > a:focus {
  color: #FC1368 !important;
}

#main-menu .sub-menu,
#main-menu .sub-menu > li:hover a {
  background-color: #fff !important;
}

@media (min-width: 768px) {
  #main-menu .sub-menu {
    box-shadow: 0px 0px 15px #DDD;
  }
}

footer#footer {
  background-color: transparent;
  padding: 0 0 40px !important;
}

.copyrights {
  margin: 0 auto;
  padding: 15px 20px !important;
  border-top: thin solid #bbb !important;
  border-bottom: thin solid #bbb;
}
.copyrights p {
  margin: 0 auto;
}

.footer-socials {
  margin: 5px 0 !important;
  display: inline-block;
  background: #EFEEEF;
  padding: 0 20px;
}
.footer-socials a {
  background-color: transparent !important;
}
.footer-socials i {
  font-size: 22px !important;
}

#footer .vc_sep_line {
  display: block;
  height: 1px;
  margin-top: -20px;
}
