/*
 Theme Name:   Kraft Child
 Theme URI:    http://demo.caliberthemes.com/wpthemes/kraft
 Description:  Kraft Child Theme
 Author:       caliberthemes
 Author URI:   http://www.caliberthemes.com/
 Template:     kraft
 Version:      1.0
 License:      custom
 License URI:  http://themeforest.net/licenses
 Tags: right-sidebar, featured-images, post-formats,  sticky-post
 Text Domain:  kraft
*/
@import url("https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700");
/* Breakpoints */
/* Container Width */
/* Spacing */
/* Colors */
/* Gradient */
/* Typography */
h1, h2, h3, h4, h5, h6, .heading-custom .heading, .heading-custom h4.heading, #menu-main-menu a, #filters-container .cbp-filter-item, .copyrights p, .heading-custom .para {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  color: #595959;
  line-height: 1;
}

h1, h2, h3, h4, h5, h6, .heading-custom .heading {
  font-weight: 700 !important;
}

.heading-custom h4.heading, #menu-main-menu a, #filters-container .cbp-filter-item, .copyrights p {
  font-weight: 300 !important;
}

.heading-custom .para {
  font-weight: 200 !important;
}

.heading-custom h4.heading {
  font-size: 15px !important;
  letter-spacing: 1px;
  line-height: 1;
  margin-top: 10px;
}

#page-wrapper p {
  color: #595959;
}

#page-wrapper .para p {
  font-size: 14px;
  line-height: 1.5;
}
@media (min-width: 768px) {
  #page-wrapper .para p {
    font-size: 15px;
  }
}
@media (min-width: 992px) {
  #page-wrapper .para p {
    font-size: 16px;
  }
}

#page-wrapper a {
  color: #595959 !important;
}
#page-wrapper a:hover {
  color: #FC1368 !important;
}

.heading-custom {
  margin: 10px 0 20px;
}
.heading-custom .heading,
.heading-custom .para {
  margin: 0;
  display: inline-block;
  font-size: 32px;
}
@media (min-width: 768px) {
  .heading-custom .heading,
  .heading-custom .para {
    font-size: 36px;
  }
}
@media (min-width: 992px) {
  .heading-custom .heading,
  .heading-custom .para {
    font-size: 42px;
  }
}
@media (min-width: 1200px) {
  .heading-custom .heading,
  .heading-custom .para {
    font-size: 46px;
  }
}
.heading-custom .para::before {
  content: "//";
  margin: 0 10px;
}

@media (min-width: 768px) {
  #menu-main-menu > li {
    margin-left: 20px !important;
  }
}
#menu-main-menu li.current-menu-item > a,
#menu-main-menu li.current-menu-parent > a {
  color: #FC1368 !important;
}
#menu-main-menu a {
  font-size: 15px !important;
}

#filters-container {
  position: absolute;
  top: -45px;
  width: 100%;
  left: 0;
}
#filters-container .cbp-filter-item-active {
  color: #FC1368;
}
#filters-container .cbp-filter-item {
  font-size: 15px;
}

.copyrights p {
  font-size: 14px !important;
  letter-spacing: 1px;
  line-height: 1.5;
}

@media (max-width: 768px) {
  html.locked,
  html.locked body {
    margin: 0;
    height: 100%;
    overflow: hidden;
  }
}

div#main-wrapper.vc_container {
  padding-left: 0;
  padding-right: 0;
}

.padding-container > div > div > div {
  padding: 20px;
  background: #fff;
  box-shadow: 0px 0px 15px #DDD;
}

@media (min-width: 992px) {
  .padding-container.two-column .wpb_single_image {
    max-width: 50%;
    float: left;
  }
}

#main-wrapper > .vc_container {
  margin-bottom: 20px;
}

.no-margin {
  margin-top: -6px;
  margin-bottom: -8px;
}

/* Wordpress Elements */
.wpb_single_image,
.wpb_video_widget {
  margin-bottom: 0 !important;
}

.vc_sep_line {
  background: linear-gradient(to right, #F680AE, #76F4E4);
  box-shadow: 0px 0px 7px #BEAFC5;
  border-top: none !important;
}

.vc_separator {
  margin-bottom: 20px !important;
  width: auto !important;
}

.kraft-carousel .owl-nav {
  bottom: 10px;
  top: auto;
  transform: none;
  width: auto;
  right: 10px;
}
.kraft-carousel .owl-nav .owl-prev,
.kraft-carousel .owl-nav .owl-next {
  background: #222;
  color: #fff;
}
.kraft-carousel .owl-nav .owl-prev {
  margin-right: 1px;
}

header#header {
  background-color: transparent;
  margin: 0px !important;
}
@media (min-width: 768px) {
  header#header {
    margin: 60px 0 20px !important;
  }
}

@media (max-width: 768px) {
  #logo {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
  }
}
@media (min-width: 768px) {
  #logo {
    margin-left: -40px;
  }
}
@media (min-width: 992px) {
  #logo {
    margin-left: -45px;
  }
}
@media (min-width: 1200px) {
  #logo {
    margin-left: -48px;
  }
}
#logo .standard-logo,
#logo .retina-logo {
  max-height: 60px !important;
}
@media (min-width: 768px) {
  #logo .standard-logo,
  #logo .retina-logo {
    max-height: 70px !important;
  }
}
@media (min-width: 992px) {
  #logo .standard-logo,
  #logo .retina-logo {
    max-height: 80px !important;
  }
}
@media (min-width: 1200px) {
  #logo .standard-logo,
  #logo .retina-logo {
    max-height: 100px !important;
  }
}

@media (min-width: 768px) {
  #main-menu {
    padding-top: 50px;
  }
}

@media (max-width: 768px) {
  #main-menu.display-menu {
    height: calc(100vh - 90px) !important;
  }
}

footer#footer {
  background-color: transparent;
  padding: 20px 0 50px !important;
}

.copyrights {
  margin: 0 auto;
  padding: 0 30px !important;
  border-top: none !important;
}
@media (min-width: 768px) {
  .copyrights {
    max-width: 750px;
  }
}

.footer-socials {
  margin: 30px 0 !important;
  display: inline-block;
  background: #EFEEEF;
  padding: 0 20px;
}
.footer-socials a {
  background-color: transparent !important;
}
.footer-socials i {
  font-size: 22px !important;
}

#footer .vc_sep_line {
  display: block;
  height: 1px;
  margin-top: -48px;
}
